

.section_container {
    width: 100%;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: var(--primary-5);
    &.light {
        background-color: var(--primary-4);
    }
}

.schedule_border {
    border: 5px solid var(--primary-5);
}

.event_panels {
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    box-sizing: border-box;
    border-top: 10px solid var(--primary-5);
    border-bottom: 10px solid var(--primary-5);
}

.panel_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.panel {
    max-width: 80%;
    margin: 50px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        font-size: 40px;
        text-align: center;
        color: var(--primary-6);
        margin-bottom: 10px;
    }
    p {
        font-size: 20px;
        text-align: justify;
        color: var(--primary-6);
        line-height: 25px;
    }
    img {
        margin-top: 30px;
        width: 100%;
        border-radius: 10px;
    }
    .grid {
        margin-top: 30px;
        display: grid;
        gap: 5px;
        grid-template-columns: 50% 50%;
        img {
            margin-top: 0px;
            width: 100%;
            border-radius: 0px;
        }
    }

}

.one {
    background-color: var(--primary-5);
}

.two {
    background-color: var(--primary-4-5);
}

.divider1 {
    width: 150px;
    clip-path: polygon(
        0 100%,
        100% 100%,
        100% 50%,
        100% 0
    );
    background-color: var(--primary-4-5);
}

.divider2 {
    width: 150px;
    clip-path: polygon(
        0 100%,
        0% 100%,
        0 0%,
        100% 100%
    );
    background-color: var(--primary-4-5);
}

.schedule_fail {
    margin-top: 200px;
    color: var(--primary-6);
    text-align: center;
}

.mobile_sh {
    display: none;
}

@media (max-width: 1200px) {
    .mobile_rm {
        display: none;
        opacity: 0%;
        height: 0px;
    }
    .event_panels {
        display: flex;
        flex-direction: column;
    }
    .section_container {
        padding: 0px;
    }
    .schedule_fail {
        margin-top: 0px;
        margin-bottom: 350px;
    }
    .mobile_sh {
        display: block;
    }
}

.mobile_sh_i {
    display: none;
}

@media (max-width: 2000px) {
    .mobile_sh_i {
        display: block;
    }
    .mobile_rm_i {
        display: none;
        opacity: 0%;
        height: 0px;
    }
}
