
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="section_container">
    
    <div class="event_panels">
    
        <div class="panel_container one">
            <div class="panel">
                <div>
                    <h1>Shows</h1>
                    <p>At Jackal Ears Improv, we're all about bringing you entertaining, skillful improv that feels just like catching a real show at the theater. We aim to offer professional improv that is accessible for everyone to enjoy. So, come hang out and immerse yourself in unscripted fun and enjoy some laughs in a chill and welcoming environment!</p>
                </div>
                <img src="image/placeholder.png" class="mobile_sh_i">
                <div class="grid mobile_rm_i">
                    <img src="image/placeholder.png">
                    <img src="image/placeholder.png">
                    <img src="image/placeholder.png">
                    <img src="image/placeholder.png">
                </div>
            </div>
        </div>
    
        <div class="divider1 mobile_rm"></div>
    
        <div class="panel_container two">
            <div class="panel">
                <div>
                    <h1>Classes</h1>
                    <p>Ready to jump into improv? Jackal Ears offers classes built on solid basic skills that anyone can learn. Kick off your improv journey with our Improv Fundamentals class. It's a great, low-pressure way to start or if you're ready to really dig deep and polish your craft, check out our Advanced Improv classes and hone your skills.</p>
                </div>
                <img src="image/class/class_4.png" class="mobile_sh_i">
                <div class="grid mobile_rm_i">
                    <img src="image/class/class_1.png">
                    <img src="image/class/class_3.png">
                    <img src="image/class/class_2.png">
                    <img src="image/class/class_4.png">
                </div>
            </div>
        </div>
    
        <div class="divider2 mobile_rm"></div>
    
        <div class="panel_container one">
            <div class="panel">
                <div>
                    <h1>Jams</h1>
                    <p>Been coming to our classes and just itching to show those skills off? Our community Improv Jams are made just for you! We invite you to hop on stage and share the spotlight, putting on a fun, relaxed performance right alongside your friends and fellow improv fans. It's a fantastic chance to experiment and collaborate.</p>
                </div>
                <img src="image/placeholder.png" class="mobile_sh_i">
                <div class="grid mobile_rm_i">
                    <img src="image/placeholder.png">
                    <img src="image/placeholder.png">
                    <img src="image/placeholder.png">
                    <img src="image/placeholder.png">
                </div>
                
            </div>
        </div>
    
    </div>
</div>



<app-gradient top="var(--primary-5)" bottom="var(--primary-4)" [style.visibility]="scheduleStatus ? '' : 'hidden'"></app-gradient>

<div class="section_container" *ngIf="!scheduleStatus">

    <div class="schedule_fail">
        <h1>No upcoming events...</h1>
    </div>
</div>
<div class="section_container light" [style.opacity]="scheduleStatus ? '100%' : '0%'">

    <app-schedule [dayLimit]="3" (scheduleLoaded)="scheduleLoaded($event)"></app-schedule>
</div>