
<div class="website">

    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="navbar_spacer"></div>
    <router-outlet></router-outlet>

</div>

<!-- PRELOAD -->
<img src="image/platform/bluesky.svg" style="display: none;">
<img src="image/platform/gumroad.svg" style="display: none;">
<img src="image/platform/twitter.svg" style="display: none;">
<img src="image/platform/vrchat.svg" style="display: none;">
<img src="image/platform/youtube.svg" style="display: none;">
