
<div class="section_container">
    <div class="section intro">
        <h1>Stay connected with our community!</h1>
    </div>

</div>

<div class="section_container">
    <div class="section links">
        @for (link of website.sourcedData.links; let i = $index ; track $index) {
            <a [href]="link.link" target="_blank" [title]="link.platform">
            <div class="link">
                <h1>{{link.platform}}</h1>
                <div class="content">
                    <p>{{link.display}}</p>
                    <br>
                    <div class="image">
                        <img [src]="'image/platform/'+link.image" alt="Image">
                    </div>
                </div>
            </div>
            </a>
        }
    </div>

</div>
