
<app-section height="null">
    <div class="section title">
        <img src="logo.png">
        <div class="text">
            Welcome to Jackal Ears, your premier destination for immersive improv experiences in Virtual Reality! We're not just an improv group; we're a cutting-edge virtual theater that blends the brilliance of professional short-form and long-form improv with the boundless creative possibilities of VR technology.
            <br><br>
            At Jackal Ears, we believe in the power of dedicated practice. Our performers commit to rigorous training, honing their craft to ensure every show is a masterclass in comedic timing, quick wit, and genuine connection. This dedication allows each individual to truly shine, sparking uproarious laughter and crafting unforgettable moments for our audiences.
        </div>
    </div>
</app-section>

<!-- <app-gradient top="var(--primary-5)" bottom="var(--primary-4)"></app-gradient> -->

<!-- <div class="section s2">

    <div class="box">

        <div class="column">
            <button (click)="shiftCast(-1)">
                <span class="material-symbols-outlined icon">arrow_back</span>
            </button>
        </div>

        @for (member of getCast(); track member) {
            <div class="cast">
                <div class="content">
                    <h1>{{member.name}}</h1>
                    <br>
                    <p>{{member.bio}}</p>
                </div>
            </div>
        }

        <div class="column">
            <button (click)="shiftCast(1)">
                <span class="material-symbols-outlined icon">arrow_forward</span>
            </button>
        </div>

    </div>

</div> -->

