
<div class="section_container">
    <div class="section title">
        <img src="logo.png">
        <div class="text">
            Jackal Ears is a virtual improv theater dedicated to mastering the art of improv. We use the immersive world of VR to provide a space for disciplined practice, creative collaboration, and performance. Our mission is to build a platform that mirrors the best of real-world improv theaters, fostering skills that shine both on and off the stage. Through comedy and connection, we grow together.
        </div>
    </div>
</div>

<app-gradient top="var(--primary-5)" bottom="var(--primary-4)"></app-gradient>

<div class="section_container light">
    <div class="section profiles">

        <div class="profile_button">
            <div class="center_button">
                <button (click)="shiftCast(-1)">
                    <span class="material-symbols-outlined icon">arrow_back</span>
                </button>
            </div>
        </div>

        @for (member of this.castList; track $index; let i = $index) {
        
            <div class="profile_slot" [ngClass]="i==(this.castList.length-1)/2 ? 'large' : ''">
                <app-profile [profile]="this.castList[i]" [small]="i!=(this.castList.length-1)/2"></app-profile>
            </div>
        }

        <div class="profile_button">
            <div class="center_button">
                <button (click)="shiftCast(1)">
                    <span class="material-symbols-outlined icon">arrow_forward</span>
                </button>
            </div>
        </div>

    </div>
</div>
