
.section_container {
    width: 100%;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: var(--primary-5);
    &.light {
        background-color: var(--primary-4);
    }
    display: flex;
    justify-content: space-around;
}

.section {
    color: white;
    height: 100%;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.section.title {
    color: var(--primary-6);
    margin: 0px auto 100px;
    width: 800px;
    max-width: 100%;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    .text {
        text-align: justify;
        width: 100%;
        div {
            text-align: center;
        }
    }
    img {
        width: 400px;
    }
}

.section.profiles {
    display: flex;
    width: 1600px;
    max-width: 100%;
    padding: 100px 0 100px 0;
    box-sizing: border-box;

    .profile_button {
        width: 50px;
        height: 700px;
        .center_button {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            button {
                height: 100px;
                background: var(--primary-6);
                border-radius: 10px;
                border: none;
            }
        }
    }

    .profile_slot {
        width: 275px;
        height: 700px;
        padding: 0 10px 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        &.large {
            width: 500px;
        }
    }
}
